@charset "utf-8";
   2: /*参考taobao玉伯的reset,并有删减*/
   3:  
   4: html { overflow-x: hidden; overflow-y: auto; }/*隐藏横向滚动，垂直滚动根据内容自适应（去除IE默认垂直滚动条）*/
   5:  
   6:  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset,
   7:  lengend, button,select, input, textarea,th, td { /* 清除内外边距 */  
   8:      margin: 0;  
   9:      padding: 0;  
  10:  }  
  11:    
  12:  body,button, input, select, textarea {/* 设置默认字体 */  
  13:      font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/ 
  14:  }  
  15:    
  16:  h1 { font-size: 18px; }  
  17:  h2 { font-size: 16px; }  
  18:  h3 { font-size: 14px; }  
  19:  h4, h5, h6 { font-size: 100%; }  
  20:  
  21:  ul, ol { list-style: none; }  /* 重置列表元素 */  
  22:    
  23:  /* 重置文本格式元素  */  
  24:  a {text-decoration:none;}
  25:  a:hover {text-decoration:none; color:#ff6600;} 
  26:    
  27:  q:before, q:after { content: ''; }  
  28:    
  29:  /* 重置表单元素 */  
  30:  legend { color: #000; }
  31:  fieldset, img { border: none; }  
  32:  button, input, select, textarea {  
  33:      font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */  
  34:  }  
  35:    
  36:  /* 重置表格元素 */  
  37:  table {  
  38:      border-collapse: collapse;  
  39:      border-spacing: 0;  
  40:  }  
  41:    
  42:  /* 重置 hr */  
  43:  hr {  
  44:      border: none;  
  45:      height: 1px;  
  46:  }  